# Don't track content of these folders
00log/
01qc/
02alignments/
03featureCounts/
04deseq2/
05results/
fastq/

.bash_history
.cache/
.java/
.benchmarks/
.snakemake/
.clusterLogs/
.DS_Store
snakemake.log

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
